@import "/static/css/conponent.css";

.section{
  display: flex;
  box-sizing: border-box;
  width: 1200px;
  height: 400px;
  padding: 0px 15px;
  margin:auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.slider{
  position: relative;
  height: 400px;
  width: 540px;
}
.slider__box{
  height: 100%;
  width: 100%;
}
.slider__myslide{
  height: 100%;
  width: 100%;
  display: none;
  border-radius: 5px;
  background-size: cover; /* 讓 圖片覆蓋整個容器，並保留圖片比例 */
  background-position: center; /* 確保圖片置中 */
}
.slider__prev, .slider__next{
  position: absolute;
  top:50%;
  transform: translate(0, -50%);
  padding: 10px;
  cursor: pointer;
  opacity: 75%;
}
.slider__prev:hover, .slider__next:hover{
  opacity: 90%;
}
.slider__next{
  right:0;
}
.slider__dotsbox{
  position: absolute;
  left:50%; /* 百分比基準為 block container */
  bottom:10px;
  transform: translate(-50%); /* 百分比基準為自己的寬高，常與 position 搭配使用 */
  cursor: pointer;
  opacity: 75%;
}
.slider__dot{
  display: inline-block; /* 元素依內容撐開，並會在行內並排 */
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 6px;
  cursor: pointer;
}
.active, .slider__dot:hover{
  background-color: rgba(0, 0, 0, 0.8);
}
.fade{
  animation-name: fade; /* 套用名為 fade 的動畫 */
  animation-duration: 1.5s; /* 動畫持續時間，預設0 */
}
/* @keyframe 關鍵影格(動畫)做淡入 */
@keyframes fade{
  from {opacity: 0.5}
  to {opacity: 1;}
}

.profile{
  width: 600px;
  height: 400px;
  margin-left: 30px;
  display:grid;
  grid-gap: 15px;
  grid-template-columns: 100%;
  grid-template-rows: 33px 22px auto;
  align-items:center; /* 垂直對齊 */
}

.profile__booking-form{
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 22px auto 35px 22px 22px 36px;
  grid-gap: 15px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #E8E8E8;
  width: 100%;
  height: auto;
  padding: 15px 20px 50px 20px;
  align-items: center; 
  align-self: start; /* 覆寫其 aligin-item 值，改對齊最上方 */
}
.profile__btn{
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #448899;
  width: 154px;
  height: 100%;
  padding: 10px 20px;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  line-height: 16px;
  color: white;
  border: none;
  cursor: pointer;
}
.profile__btn:hover{
  background-color: #3E7E8E;
}
.profile__date{
  box-sizing: border-box;
  border: none;
  width: 193px;
  height: 35px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 14px;
  font-weight: 400;
  font-family: Noto Sans TC;
}
input[type="date"]::-webkit-calendar-picker-indicator{
  width: 22px;
  height: 22px;
}
input[type="radio"]{
  width: 22px;
  height: 22px;
  appearance: none;
  position: relative;
  background: white;
  border-radius: 50%;
  margin: 0 5px 0 15px;
}
input[type="radio"]:checked:before{
  content: "";
  position: absolute;
  background: #448899;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 80%;
  border: none;
  border-radius: 50%;
}
.profile__group{
  display: flex;
  align-items: center;
}
.hr-middle{
  width: 1200px;
  margin: auto;
  margin-bottom: 40px;
}
.infos{
  box-sizing: border-box;
  width: 1200px;
  padding: 10px;
  margin: auto; 
  margin-bottom: 90px;
}
.infos__title{
  display: flex;
  font-weight: 700;
  height: 32px;
  align-items: center;
  margin-top: 30px;
}
.infos__content{
  font-size: 16px;
  line-height: 23.17px;
  text-align: left;
  width: 100%;
}

@media(min-width:690px) and (max-width:1199px){
  .section{
    width: 100%;
  }
  .hr-middle{
    width: 100%;
  }
  .infos{
    width: 100%;
  }
}


@media (max-width:689px){
  .section{
    display: block; 
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 0;
  }
  .slider{
    height: 350px;
    width: 100%;
  }
  .slider__myslide{
    border-radius: 0;
  }
  .profile{
    box-sizing: border-box;
    margin:0;
    padding: 20px 10px 0px 10px;
    width: 100%;
    height: 100%;
  }
  .slider__booking-form{
    padding: 15px 20px 30px 20px;
  }
  .hr-middle{
    width: 100%;
  }
  .infos{
    width: 100%;
  }
}