@import "/static/css/conponent.css";

input{
  box-sizing: border-box;
  width: 200px;
  height: 38px;
  padding: 10px;
  background-color: white;
  border: 1px solid #E8E8E8;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  line-height: 14px;
  font-weight: 500;
}
.headline{
  box-sizing: border-box;
  width: 1000px;
  padding: 0 10px;
  height: 27px;
  font-size: 19px;
  line-height: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin: 40px auto 30px auto;
}
.booking{
  width: 1200px;
  margin: 0 auto 40px auto;
}
.booking__attraction{
  display: flex;
  box-sizing: border-box;
  width: 1000px;
  padding: 0 10px;
  height: 200px;
  margin: 0 auto 40px auto;
}
.attraction__picture{
  width: 250px;
  height: 200px;
  background-size: cover; 
  background-position: center;
}
.attraction__info{
  margin: 0 0 30px 30px;
  flex: auto;
  display: grid;
  grid-gap: 10px; 
  grid-template-columns: 90%;
  grid-template-rows: auto 0px auto auto auto auto;
  align-items: center;
  position: relative;
}
.attraction__title{
  display: flex;
  color: #448899;
  font-weight: 700;
  line-height: 24px;
  align-items: center;
}
.attraction__item{
  line-height: 24px;
}
.attraction__delete{
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.attraction__delete:hover{
  filter: brightness(0);
}
.booking__user{
  box-sizing: border-box;
  width: 1000px;
  padding: 0 10px;
  margin: 40px auto;
}
.user__title{
  height: 24px;
  font-size: 19px;
  line-height: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.user__contact-form{
  display: grid;
  grid-gap: 15px; 
  grid-template-columns: 100%;
  grid-template-rows: 38px 38px 38px auto;
  align-items: center;
}
.user__alert{
  font-size: 16px;
  font-weight: 700;
  line-height: 23.17px;
}
.user__confirm{
  width: 100%;
  text-align: right;
}
.user__confirm p{
  box-sizing: border-box;
  padding: 5px 0;
}
.user__confirm-btn{
  box-sizing: border-box;
  margin: 22px 0 0 0;
  border-radius: 5px;
  background-color: #448899;
  width: 173px;
  height: 36px;
  padding: 10px 20px;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  line-height: 16px;
  color: white;
  border: none;
  cursor: pointer;
}
.user__confirm-btn:hover{
  background-color: #376F7D;
}
.user__confirm-error{
  box-sizing: border-box;
  font-weight: 700;
  color: darkred;
  padding: 18px 0 0 0;
}
.booking__none-msg{
  box-sizing: border-box;
  width: 1000px;
  padding: 0 10px;
  margin: auto;
}

/* for TapPay */
.user__payment-form{
  display: grid;
  gap: 15px;
}
.user__form-group{
  display: flex;
  align-items: center;
}
.tpfield{
  box-sizing: border-box;
  width: 200px;
  height: 38px;
  padding: 10px;
  background-color: white;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}
.transfer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
  justify-content: center;
  display: none;
}
.transfer__msg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.transfer__loader{
  position: relative;
  top: 38%;
  border: 3px solid #666666;
  border-top: 3px solid white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.7s linear infinite;
}
@keyframes spin{
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

@media(min-width:690px) and (max-width:1199px){
  hr, .booking{
    width: 100%;
  }
  .headline, .booking__attraction, .booking__user, .booking__none-msg{
    width: calc(100%*(5/6));
  }
}


@media (max-width:689px){
  hr, .booking, .headline, 
  .attraction__picture, .booking__user, .booking__none-msg{
    width: 100%;
  }
  .booking__attraction{
    display: block;
    width: 100%;
    padding: 0 10px;
    height: auto;
    margin: 0 auto 60px auto;
  }
  .attraction__info{
    margin: 30px 0;
  }
  .attraction__delete{
    top: 100%;
    bottom: 0;
  }
  .user__alert{
    margin-top: 5px;
  }
}