@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import "/static/css/popup.css";

/* 排版、字型等基礎設定 */
*{
  margin: 0;
}
h1{
    font-size: 28px;
    line-height: 24px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
  }
h2{
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
  padding-left: 10px;
}
h3{
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
}
body{
  font-size: 16px;
  line-height: 13.3px;
  font-weight: 400;
  color: #666666;
  font-family: "Noto Sans TC", sans-serif; /* 若無法使用首個字型，則指定無襯線的隨意內建字型(通用字) */
  background-color: white;
}
a:any-link{
  color: #448899;
  text-decoration: none;
}
hr{
  border: 1px solid #E8E8E8;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* 最上方 navigation bar */
.navigation{
  display: flex; 
  position: sticky;
  top: 0;
  height: 54px;
  background-color: white;
  z-index: 1;
}
.navigation__frame{
  display: flex;
  align-items: center; 
  margin: auto;
  width: 1200px;
  height: 34px;
}
.navigation__frame--end{
  display: flex;
  justify-content: flex-end;
  flex: auto;
}
.navigation__item{
  flex: none;
  padding: 10px;
  font-weight: 500;
}
.navigation__item:hover{
  color: black;
  cursor: pointer;
}

/* 最下方 footer */
footer{
  display: flex;
  justify-content: center;
  height: 104px; 
  background-color: #666666;
}
footer p{
  display: flex;
  align-items: center;
  margin-top: 40px;
  height: 24px;
  font-weight: 700;
  color: white;
}