@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
*{
    margin: 0;
}
h1{
    font-size: 28px;
    line-height: 24px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}
h2{
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    padding-left: 10px;
}
h3{
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
  }
body{
    font-size: 16px;
    line-height: 14px;
    font-weight: 400;
    color: #666666;
    font-family: "Noto Sans TC", sans-serif;
    background-color: white;
}
.body-bold{
    font-weight: 700;
}
a:-webkit-any-link{
    color: #448899;
    text-decoration: none;
}

.navigation{
    display: flex;
    align-items: center; /* 垂直對齊 */
    position: sticky;
    top: 0;
    height: 54px;
    background-color: white;
    z-index: 1;
}
.frame{
    display: flex;
    align-items: center; 
    margin: auto; /* 常用於置中元素，將剩下的空間平均分配給四周 */
    width: 1200px;
    height: 34px;
}
.frame-flexend{
    display: flex;
    justify-content: flex-end;
    flex: auto;
}
.item-navigation{
    flex: none;
    padding: 10px;
    font-weight: 500;
}
.item-navigation:hover{
    color: black;
    cursor: pointer;
}
.welcome{
    background-image: url("/static/pic/welcome.png");
    background-size: cover; /* 讓圖片覆蓋整個容器，並保留圖片比例 */
    background-position: top; /* 確保圖片置中 */
    height: 320px;
}
.frame-slogan{
    box-sizing: border-box;
    height: 169px;
    width: 1200px;
    display:grid;
    grid-gap: 10px;
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    padding: 10px 20px;
    position: relative;
    top: 25%;
}
.slogan-relax{
   height: 41px;
   color: #F8F8F8;
}
.slogan-develop{
    height: 22px;
    font-weight: 700;
    color: #F8F8F8;
}
.searchbar{
    display: flex;
}
.input-search{
    box-sizing: border-box;
    width: 400px;
    height: 46px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    line-height: 14px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    box-shadow: 0px 0px 20px 0px #AABBCC;
}
.search{
    display: flex;
    width: 60px;
    height: 46px;
    background: #448899;
    border-radius: 0 5px 5px 0;
    justify-content: center;
    align-items: center; 
    border: none;
    cursor: pointer;
}
.frame-listbar{
    box-sizing: border-box;
    display: flex;
    align-items: center; 
    margin: auto;
    width: 1200px;
    height: 70px;
    padding: 0px 0px 20px 0px;
    margin-top: 35px;
}
.arrow-left{
    padding: 9px 0 9px 15px;
    opacity: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.arrow-left:hover{
    opacity: 100%;
}
.arrow-right{
    padding: 9px 15px 9px 0;
    opacity: 50%;
    margin-left: 10px;
    cursor: pointer;
}
.arrow-right:hover{
    opacity: 100%;
}
.container{
    width: 1106px;
    height: 50px;
    display: flex;
    overflow-x: scroll; /* 超出的部分用 scroll 功能 */
    align-items: center; 
}
.container div{
    display: grid;
    grid-auto-flow: column; /* 網格流向(預設row): 橫向排列 */
    grid-auto-columns: minmax(auto, max-content); /* minmax(min, max): 設最小＆大寬 */
    grid-gap: 4px;
}
.container::-webkit-scrollbar{
    display: none; /* 不要看到拉霸 */
}
.item-list{
    padding: 5px 15px 5px 15px;
    text-align: center;
    white-space: nowrap; /* 確保單行顯示不換行 */
}
.item-list:hover{
    color: black;
    cursor: pointer;
}
.frame-attraction{
    box-sizing: border-box;
    display: grid;
    margin: auto;
    width: 1200px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    padding: 15px 20px;
    margin-bottom: 40px;
}
.box{
    box-sizing: border-box;
    height: 242px;
    width: 270px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #E8E8E8;
    cursor: pointer;
}
.attraction{
    background-image: url();
    background-size: cover; /* 讓圖片覆蓋整個容器，並保留圖片比例 */
    background-position: center; /* 確保圖片置中 */
    height: 197px;
    border-radius: 5px 5px 0 0;
}
.attraction:hover{
    opacity: 0.9;
}
.title{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 40px;
    position: relative;
    top: 157px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    font-weight: 700;
    padding: 10px;
    width: 100%;
}
.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    line-height: 16px;
    text-overflow: ellipsis;
}
.info{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 45px;
    position: relative;
    top: 157px;
    background-color: white;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}
.mrt{
    display: flex;
    align-items: center;
    width: 125px;
    height: 25px;
}
.category{
    display: flex;
    align-items: center;
    width: 125px;
    height: 25px;
    justify-content: flex-end;
    flex:auto;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    background-color: #666666;
    font-weight: 700;
    color: white;
}

@media (min-width:600px) and (max-width:1199px){
    .frame-listbar{
        width: 100%;
    }
    .container{
        width: 100%; 
    }
    .frame-slogan{
        width: 100%;
    }
    .frame-attraction{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .box{
        width: 100%;
    }
    .info div{
        width: 100%;
    }
}

@media(max-width:599px){
    .frame-listbar{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .frame-slogan{
        width: 100%;
    }
    .input-search{
        width: calc(100% - 160px); /* 減號要空格 */
    }
    .frame-attraction{
        width: 100%;
        grid-template-columns: 100%;
        grid-gap: 15px;
    }
    .box{
        height: 280px;
        width: 100%;
    }
    .attraction{
        height: 235px;
    }
    .title{
        top: 195px;
    }
    .info{
        top: 195px;
    }
    .info div{
        width: 100%;
    }
}