@import "/static/css/conponent.css";

.welcome{
    background-image: url("/static/pic/welcome.png");
    background-size: cover; /* 讓圖片覆蓋整個容器，並保留圖片比例 */
    background-position: top; /* 確保圖片置中 */
    height: 320px;
}
.welcome__slogan{
    box-sizing: border-box;
    height: 169px;
    width: 1200px;
    display:grid;
    grid-gap: 10px;
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    padding: 10px 20px;
    position: relative;
    top: 25%;
}
.welcome__slogan-title{
   height: 41px;
   color: #F8F8F8;
}
.welcome__slogan-msg{
    height: 22px;
    font-weight: 700;
    color: #F8F8F8;
}
.welcome__searchbar{
    display: flex;
}
.welcome__input{
    box-sizing: border-box;
    width: 400px;
    height: 46px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    line-height: 14px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    box-shadow: 0px 0px 20px 0px #AABBCC;
}
.welcome__btn{
    display: flex;
    width: 60px;
    height: 46px;
    background: #448899;
    border-radius: 0 5px 5px 0;
    justify-content: center;
    align-items: center; 
    border: none;
    cursor: pointer;
}
.welcome__btn:hover{
    background: #376F7D;
}
.listbar{
    box-sizing: border-box;
    display: flex;
    align-items: center; 
    margin: auto;
    width: 1200px;
    height: 70px;
    padding: 0px 0px 20px 0px;
    margin-top: 35px;
}
.arrow{
    opacity: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.arrow:hover{
    opacity: 100%;
}
.arrow-left{
    padding: 9px 0 9px 15px;
}
.arrow-right{
    padding: 9px 15px 9px 0;
}
.listbar__mrts{
    width: 1106px;
    height: 50px;
    display: flex;
    overflow-x: scroll; /* 超出的部分用 scroll 功能 */
    align-items: center; 
}
.listbar__mrts div{
    display: grid;
    grid-auto-flow: column; /* 網格流向(預設row): 橫向排列 */
    grid-auto-columns: minmax(auto, max-content); /* minmax(min, max): 設最小＆大寬 */
    grid-gap: 4px;
}
.listbar__mrts::-webkit-scrollbar{
    display: none; /* 不要看到拉霸 */
}
.listbar__mrts-item{
    padding: 5px 15px 5px 15px;
    text-align: center;
    white-space: nowrap; /* 確保單行顯示不換行 */
}
.listbar__mrts-item:hover{
    color: black;
    cursor: pointer;
}
.attraction{
    box-sizing: border-box;
    display: grid;
    margin: auto;
    width: 1200px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    padding: 15px 20px;
    margin-bottom: 40px;
}
.attraction__box{
    box-sizing: border-box;
    height: 242px;
    width: 270px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #E8E8E8;
    cursor: pointer;
}
.attraction__img{
    background-image: url();
    background-size: cover;
    background-position: center;
    height: 197px;
    border-radius: 5px 5px 0 0;
}
.attraction__box:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.attraction__img:hover{
    opacity: 0.9;
}
.attraction__title{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 40px;
    position: relative;
    top: 157px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    font-weight: 700;
    padding: 10px;
    width: 100%;
}
.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    line-height: 16px;
    text-overflow: ellipsis;
}
.attraction__info{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 45px;
    position: relative;
    top: 157px;
    background-color: white;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    color: #666666;;
}
.attraction__mrt{
    display: flex;
    align-items: center;
    width: 125px;
    height: 25px;
}
.attraction__category{
    display: flex;
    align-items: center;
    width: 125px;
    height: 25px;
    justify-content: flex-end;
    flex:auto;
}

@media (min-width:600px) and (max-width:1199px){
    .listbar{
        width: 100%;
    }
    .listbar__mrts{
        width: 100%; 
    }
    .welcome__slogan{
        width: 100%;
    }
    .attraction{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .attraction__box{
        width: 100%;
    }
    .attraction__info div{
        width: 100%;
    }
}

@media(max-width:599px){
    .listbar{
        width: 100%;
    }
    .listbar__mrts{
        width: 100%;
    }
    .welcome__slogan{
        width: 100%;
    }
    .welcome__input{
        width: calc(100% - 160px); /* 減號要空格 */
    }
    .attraction{
        width: 100%;
        grid-template-columns: 100%;
        grid-gap: 15px;
    }
    .attraction__box{
        height: 280px;
        width: 100%;
    }
    .attraction__img{
        height: 235px;
    }
    .attraction__title{
        top: 195px;
    }
    .attraction__info{
        top: 195px;
    }
    .attraction__info div{
        width: 100%;
    }
}